#extensionName {
	font-weight: bold;
	text-align: center;
	border-bottom: 2px solid black;
}

.borderbot {
	border-bottom: 1px solid black;
}

.divCentered {
	text-align: center;
}

input { 
    text-align: center; 
}

body {
	/* background: #FFFAFA; */
	width: 200px;
}

button {
    margin:auto;
    display:block;
}